<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body class="w-screen h-screen overflow-hidden flex justify-center">
        {% block content %}{% endblock %}
    </body>

    <script>

    var checkBoxTodos     = document.getElementById("CheckboxTodos");
    var checkBoxSeleciona = document.getElementsByClassName("CheckboxSeleciona");

    if (checkBoxTodos) {
        checkBoxTodos.onclick = function() {
            for (var i = 0; i < checkBoxSeleciona.length; i++) {
                if (checkBoxTodos.checked) {
                    checkBoxSeleciona[i].checked = true;
                } else {
                    checkBoxSeleciona[i].checked = false;
                }
            }
        };
    }

    </script>
</html>
