<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Nutri - Consultas</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='nutri.css') }}" />
	</head>
	<body>
		<form method="post">
			<header>
				<h2>Consultas do Paciente</h2>

				<div id="div-filtro-pacientes">
					<div id="div-filtros">
						<label for="FiltroPaciente" id="LabelPaciente" name="LabelPaciente">
							Paciente:
						</label>

						<select name="ComboPaciente" id="FiltroPaciente">
							{% for paciente in combo_pacientes %}
							<option value="{{ paciente['paciente_id'] }}" {% if paciente['selected'] %} selected {% endif %}>{{ paciente['paciente'] }}</option>
							{% endfor %}
						</select>
					</div>

					<div id="div-botoes">
						<button type="submit" id="Pesquisar"     name="Pesquisar">Pesquisar</button>
						<button type="submit" id="Incluir"       name="Incluir">Incluir</button>
						<button type="submit" id="Salvar"        name="Salvar">Salvar</button>
						<button type="submit" id="Excluir"       name="Excluir">Excluir</button>
						<button type="submit" id="ExportarExcel" name="ExportarExcel">Exportar Excel</button>

						<a class="link" href="/pacientes?paciente_id={{ paciente_id }}">Voltar</a>
					</div>
				</div>

			</header>

			<div id="div-pacientes">
				<table>
					<thead>
						<tr>
							<th><input type="checkbox" id="CheckboxTodos" name="CheckboxTodos">
							<th>Data</th>
							<th>IMC</th>
							<th>CC</th>
							<th>G%</th>
						</tr>
					</thead>
					<tbody>
						{% for consulta in consultas %}
						<tr>
							<td>
								<input type="checkbox" class="CheckboxSeleciona" id="CheckboxSeleciona_{{consulta['data']}}" name="CheckboxSeleciona_{{consulta['data']}}">
							</td>
							<td>
								<input type="date" class="Data" id="Data_{{consulta['data']}}" name="Data_{{consulta['data']}}" value="{{consulta['data']}}">
							</td>
							<td>
								<input type="number" class="IMC" id="IMC_{{consulta['data']}}" name="IMC_{{consulta['data']}}" value="{{consulta['imc']}}">
							</td>
							<td>
								<input type="number" class="CC" id="CC_{{consulta['data']}}" name="CC_{{consulta['data']}}" value="{{consulta['cc']}}">
							</td>
							<td>
								<input type="number" class="G" id="G_{{consulta['data']}}" name="G_{{consulta['data']}}" value="{{consulta['g']}}">
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<footer>
				<div class="p-mensagens">
					<h3>Consultas</h3>
				</div>
			</footer>
		</form>
	</body>
</html>
