<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Página inicial | Nutri</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nutri.css') }}" />
    </head>
    <body>
        <header>
            <h2>Nutri</h2>

            <div id="div-filtro-pacientes">
                <p>Seja bem-vindo ao Nutri, um aplicativo que organizará a sua rotina neste momento de reeducação alimentar!</p>

                <div id="div-botoes">
                    <a class="link" href="/pacientes">Pacientes</a>
                    <a class="link" href="/itens"    >Itens    </a>
                    <!-- <input type="submit" id="BotaoUnidadeMedida" name="BotaoUnidadeMedida" value="Unidades de Medida" /> -->
                    <!-- <input type="submit" id="BotaoCardapio"      name="BotaoCardapio"      value="Cardápios" /> -->
                    <!-- <input type="submit" id="BotaoPlano"         name="BotaoPlano"         value="Planos" /> -->
                    <!-- <input type="submit" id="BotaoReceita"       name="BotaoReceita"       value="Receitas" /> -->
                    <!-- <input type="submit" id="BotaoSubstituicao"  name="BotaoSubstituicao"  value="Substituições" /> -->
                </div>
            </div>
        </header>

        <footer>
            <div class="p-mensagens">
                <h3>&copy; 2023 Telêmaco Queiroz Júnior | Henrique Pureza Queiroz</h3>
            </div>
        </footer>
    </body>
</html>
