<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nutri - Paciente</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='nutri.css') }}" />
	</head>
	<body>
		<form method="post">
			<header>
				<h2>Dados dos Pacientes</h2>

				<div id="div-filtro-pacientes">
					<div id="div-filtros">
						<label for="FiltroPaciente" id="LabelPaciente" name="LabelPaciente">
							Paciente:
						</label>

						<select name="ComboPaciente" id="FiltroPaciente">
							{% for paciente in combo_pacientes %}
							<option value="{{ paciente['paciente_id'] }}" {% if paciente['selected'] %} selected {% endif %}>{{ paciente['paciente'] }}</option>
							{% endfor %}
						</select>
					</div>

					<div id="div-botoes">
						<button type="submit" id="Pesquisar" 	name="Pesquisar">Pesquisar</button>
						<button type="submit" id="Incluir" 		name="Incluir"	>Incluir</button>
						<button type="submit" id="Salvar" 		name="Salvar"	>Salvar</button>
						<button type="submit" id="Excluir" 		name="Excluir"	>Excluir</button>

						<a class="link" href="/consultas?paciente_id={{ paciente_id }}" 	id="Consultas">Consultas</a>
						<a class="link" href="/plano_diario?paciente_id={{ paciente_id }}"  id="PlanoDiario">Plano Diário</a>

						<button type="submit" id="ExportarExcel">Exportar Excel</button>
						<a class="link" href="/" id="Voltar">Voltar</a>
					</div>
				</div>
			</header>

			<div id="div-pacientes">
				<table>
					<thead>
						<tr>
							<th><input type="checkbox" id="CheckboxTodos" name="CheckboxTodos">
							<th>Paciente</th>
							<th>Data de Nascimento</th>
							<th>Telefone</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						{% for paciente in pacientes %}
						<tr>
							<td>
								<input type="checkbox" class="CheckboxSeleciona" id="CheckboxSeleciona_{{paciente['paciente_id']}}" name="CheckboxSeleciona_{{paciente['paciente_id']}}">
							</td>
							<td>
								<input type="text" class="Paciente" id="Paciente_{{paciente['paciente_id']}}" name="Paciente_{{paciente['paciente_id']}}" value="{{paciente['paciente']}}">
							</td>
							<td>
								<input type="date" class="DataNascimento" id="DataNascimento_{{paciente['paciente_id']}}" name="DataNascimento_{{paciente['paciente_id']}}" value="{{paciente['data_de_nascimento']}}">
							</td>
							<td>
								<input type="text" class="Telefone" id="Telefone_{{paciente['paciente_id']}}" name="Telefone_{{paciente['paciente_id']}}" value="{{paciente['telefone']}}">
							</td>
							<td>
								<input type="text" class="Email" id="Email_{{paciente['paciente_id']}}" name="Email_{{paciente['paciente_id']}}" value="{{paciente['email']}}">
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<footer>
				<div class="p-mensagens">
					<h3>Pacientes</h3>
				</div>
			</footer>
		</form>
	</body>
</html>
