<DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Nutri - Unidade</title>
	<link rel="stylesheet" href="./../static/nutri.css" />
</head>

<body>

	<header>

		<h1><a href="#">Unidades</a></h1>

		<div id="p-dados-pacientes">
			<p>
				<label for="FiltroUnidade" id="LabelUnidade"  name="LabelUnidade">
					Unidade:
				</label>

				<input type="text"      id="FiltroUnidade" name="FiltroUnidade">
			</p>
			<p>
				<button type="button" id="BotaoPesquisar">Pesquisar</button>
				&nbsp;|&nbsp;
				<button type="button" id="BotaoIncluir">Incluir</button>
				<button type="button" id="BotaoSalvar">Salvar</button>
				<button type="button" id="BotaoExcluir">Excluir</button>
				&nbsp;|&nbsp;
				<button type="button" id="BotaoExportarExcel">Exportar Excel</button>
			</p>
		</div>

	</header>

	<div id="div-flores-e-folhas">

		<table>
			<thead>
				<tr>
					<th><input type="checkbox" id="CheckboxTodos" name="CheckboxTodos">
					<th>UnidadeID</th>
					<th>Unidade</th>
					<th>Abrevia&ccedil;&atilde;o</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"24 name="CheckboxSeleciona_24"></td><td>24</td><td><input type="text" id="Unidade_24" name="Unidade_24" value="a gosto"></td><td><input type="text" id="UnidadeAbreviacao_24" name="UnidadeAbreviacao_24" value="agst"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"17 name="CheckboxSeleciona_17"></td><td>17</td><td><input type="text" id="Unidade_17" name="Unidade_17" value="&agrave; vontade"></td><td><input type="text" id="UnidadeAbreviacao_17" name="UnidadeAbreviacao_17" value="vont"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"15 name="CheckboxSeleciona_15"></td><td>15</td><td><input type="text" id="Unidade_15" name="Unidade_15" value="bife"></td><td><input type="text" id="UnidadeAbreviacao_15" name="UnidadeAbreviacao_15" value="bif"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"8 name="CheckboxSeleciona_8"></td><td>8</td><td><input type="text" id="Unidade_8" name="Unidade_8" value="cent&iacute;metro"></td><td><input type="text" id="UnidadeAbreviacao_8" name="UnidadeAbreviacao_8" value="cm"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"12 name="CheckboxSeleciona_12"></td><td>12</td><td><input type="text" id="Unidade_12" name="Unidade_12" value="colher"></td><td><input type="text" id="UnidadeAbreviacao_12" name="UnidadeAbreviacao_12" value="col"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"19 name="CheckboxSeleciona_19"></td><td>19</td><td><input type="text" id="Unidade_19" name="Unidade_19" value="colher de ch&aacute;"></td><td><input type="text" id="UnidadeAbreviacao_19" name="UnidadeAbreviacao_19" value="colch&aacute;"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"21 name="CheckboxSeleciona_21"></td><td>21</td><td><input type="text" id="Unidade_21" name="Unidade_21" value="colher de servir"></td><td><input type="text" id="UnidadeAbreviacao_21" name="UnidadeAbreviacao_21" value="colsrv"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"20 name="CheckboxSeleciona_20"></td><td>20</td><td><input type="text" id="Unidade_20" name="Unidade_20" value="colher de sobremesa"></td><td><input type="text" id="UnidadeAbreviacao_20" name="UnidadeAbreviacao_20" value="colsob"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"16 name="CheckboxSeleciona_16"></td><td>16</td><td><input type="text" id="Unidade_16" name="Unidade_16" value="colher de sopa"></td><td><input type="text" id="UnidadeAbreviacao_16" name="UnidadeAbreviacao_16" value="colsop"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"22 name="CheckboxSeleciona_22"></td><td>22</td><td><input type="text" id="Unidade_22" name="Unidade_22" value="concha"></td><td><input type="text" id="UnidadeAbreviacao_22" name="UnidadeAbreviacao_22" value="concha"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"10 name="CheckboxSeleciona_10"></td><td>10</td><td><input type="text" id="Unidade_10" name="Unidade_10" value="copo"></td><td><input type="text" id="UnidadeAbreviacao_10" name="UnidadeAbreviacao_10" value="cp"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"18 name="CheckboxSeleciona_18"></td><td>18</td><td><input type="text" id="Unidade_18" name="Unidade_18" value="fatia"></td><td><input type="text" id="UnidadeAbreviacao_18" name="UnidadeAbreviacao_18" value="fat"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"25 name="CheckboxSeleciona_25"></td><td>25</td><td><input type="text" id="Unidade_25" name="Unidade_25" value="folha"></td><td><input type="text" id="UnidadeAbreviacao_25" name="UnidadeAbreviacao_25" value="fol"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"6 name="CheckboxSeleciona_6"></td><td>6</td><td><input type="text" id="Unidade_6" name="Unidade_6" value="garrafinha"></td><td><input type="text" id="UnidadeAbreviacao_6" name="UnidadeAbreviacao_6" value="gar"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"26 name="CheckboxSeleciona_26"></td><td>26</td><td><input type="text" id="Unidade_26" name="Unidade_26" value="gotas"></td><td><input type="text" id="UnidadeAbreviacao_26" name="UnidadeAbreviacao_26" value="gt"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"3 name="CheckboxSeleciona_3"></td><td>3</td><td><input type="text" id="Unidade_3" name="Unidade_3" value="grama"></td><td><input type="text" id="UnidadeAbreviacao_3" name="UnidadeAbreviacao_3" value="g"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"28 name="CheckboxSeleciona_28"></td><td>28</td><td><input type="text" id="Unidade_28" name="Unidade_28" value="lata"></td><td><input type="text" id="UnidadeAbreviacao_28" name="UnidadeAbreviacao_28" value="lata"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"4 name="CheckboxSeleciona_4"></td><td>4</td><td><input type="text" id="Unidade_4" name="Unidade_4" value="litro"></td><td><input type="text" id="UnidadeAbreviacao_4" name="UnidadeAbreviacao_4" value="l"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"9 name="CheckboxSeleciona_9"></td><td>9</td><td><input type="text" id="Unidade_9" name="Unidade_9" value="metro"></td><td><input type="text" id="UnidadeAbreviacao_9" name="UnidadeAbreviacao_9" value="m"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"5 name="CheckboxSeleciona_5"></td><td>5</td><td><input type="text" id="Unidade_5" name="Unidade_5" value="mililitro"></td><td><input type="text" id="UnidadeAbreviacao_5" name="UnidadeAbreviacao_5" value="ml"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"14 name="CheckboxSeleciona_14"></td><td>14</td><td><input type="text" id="Unidade_14" name="Unidade_14" value="palma da m&atilde;o"></td><td><input type="text" id="UnidadeAbreviacao_14" name="UnidadeAbreviacao_14" value="palm"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"27 name="CheckboxSeleciona_27"></td><td>27</td><td><input type="text" id="Unidade_27" name="Unidade_27" value="pitada"></td><td><input type="text" id="UnidadeAbreviacao_27" name="UnidadeAbreviacao_27" value="pt"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"11 name="CheckboxSeleciona_11"></td><td>11</td><td><input type="text" id="Unidade_11" name="Unidade_11" value="por&ccedil;&atilde;o"></td><td><input type="text" id="UnidadeAbreviacao_11" name="UnidadeAbreviacao_11" value="por"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"23 name="CheckboxSeleciona_23"></td><td>23</td><td><input type="text" id="Unidade_23" name="Unidade_23" value="prato"></td><td><input type="text" id="UnidadeAbreviacao_23" name="UnidadeAbreviacao_23" value="prt"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"2 name="CheckboxSeleciona_2"></td><td>2</td><td><input type="text" id="Unidade_2" name="Unidade_2" value="quilograma"></td><td><input type="text" id="UnidadeAbreviacao_2" name="UnidadeAbreviacao_2" value="Kg"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"7 name="CheckboxSeleciona_7"></td><td>7</td><td><input type="text" id="Unidade_7" name="Unidade_7" value="quilograma/metro quadrado"></td><td><input type="text" id="UnidadeAbreviacao_7" name="UnidadeAbreviacao_7" value="Kg/m2"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"1 name="CheckboxSeleciona_1"></td><td>1</td><td><input type="text" id="Unidade_1" name="Unidade_1" value="unidade"></td><td><input type="text" id="UnidadeAbreviacao_1" name="UnidadeAbreviacao_1" value="un"></td></tr>
				<tr><td><input type="checkbox" id="CheckboxSeleciona_"13 name="CheckboxSeleciona_13"></td><td>13</td><td><input type="text" id="Unidade_13" name="Unidade_13" value="x&iacute;cara"></td><td><input type="text" id="UnidadeAbreviacao_13" name="UnidadeAbreviacao_13" value="xic"></td></tr>		</table>

	</div>

	<footer>

		<div class="p-mensagens">

			<p>Itens</p>

		</div>

	</footer>

</body>

</html>
